<h2 id="page-heading">
    <span jhiTranslate="products.title">Products to buy</span>
</h2>


<table>
    <tr>
        <th>Design Type</th>
        <th>Price</th>
        <th>Order it!</th>
    </tr>
    <tr>
        <td><img class="logoImage"></td>
        <td>5.00€</td>
        <td><button class="orderButton" jhiTranslate="products.order">Order</button></td>
    </tr>
    <tr>
        <td><img width="500" class="bannerImage"></td>
        <td>10.00€</td>
        <td><button class="orderButton" jhiTranslate="products.order">Order</button></td>
    </tr>
    <tr>
        <td><img width="300" class="avatarImage"></td>
        <td>5.00€</td>
        <td><button class="orderButton" jhiTranslate="products.order">Order</button></td>
    </tr>
</table>



