<h2 id="page-heading">
    <span jhiTranslate="products.title">Products to buy</span>
</h2>


<table>
    <tr>
        <th>Design Type</th>
        <th>Price</th>
        <th>Order it!</th>
    </tr>
    <tr>
        <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRgS5JkmN-puRzadArOod6eUkSUTdEiRDUEhr6PVIYr9-I6nzJG"></td>
        <td>0.00€</td>
        <td><button class="orderButton" jhiTranslate="products.order">Order</button></td>
    </tr>
    <tr>
        <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRgS5JkmN-puRzadArOod6eUkSUTdEiRDUEhr6PVIYr9-I6nzJG"></td>
        <td>0.00€</td>
        <td><button class="orderButton" jhiTranslate="products.order">Order</button></td>
    </tr>
    <tr>
        <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRgS5JkmN-puRzadArOod6eUkSUTdEiRDUEhr6PVIYr9-I6nzJG"></td>
        <td>0.00€</td>
        <td><button class="orderButton" jhiTranslate="products.order">Order</button></td>
    </tr>
</table>



