<h2 id="page-heading">
    <span jhiTranslate="products.title">Products to buy</span>
</h2>


<table>
    <tr>
        <th>Design Type</th>
        <th>Price</th>
        <th>Order it!</th>
    </tr>
    <tr>
        <td><img src="https://cdn.discordapp.com/attachments/524271209739976734/680119596950487040/LogoWebseite.png"></td>
        <td>5.00€</td>
        <td><button class="orderButton" jhiTranslate="products.order">Order</button></td>
    </tr>
    <tr>
        <td><img width="500" src="https://cdn.discordapp.com/attachments/524271209739976734/680119622522896484/BannerWebsite.png"></td>
        <td>10.00€</td>
        <td><button class="orderButton" jhiTranslate="products.order">Order</button></td>
    </tr>
    <tr>
        <td><img width="300" src="https://cdn.discordapp.com/attachments/524271209739976734/680119609101516885/AvatarWebsite.png"></td>
        <td>5.00€</td>
        <td><button class="orderButton" jhiTranslate="products.order">Order</button></td>
    </tr>
</table>



