<h2 id="page-heading">
    <span jhiTranslate="contact.title">Send me a message</span>
</h2>
<form>
    <label for="fname" jhiTranslate="contact.firstname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname" jhiTranslate="contact.lastname">Last name:</label><br>
    <input type="text" id="lname" name="lname">
</form>
<form>
    <label for="message" jhiTranslate="contact.messageFieldCaption">Message:</label><br>
    <textarea id="message" rows="10" cols="100"></textarea><br>
    <button class="submitMessageButton" jhiTranslate="contact.submitMessageButtonText">Send</button>
</form>
