<h2 jhiTranslate="about.title" id="page-heading" style="text-align: center;">
    About Us
</h2>
<div class="about">
    <p style="text-align: center;" jhiTranslate="about.bodytext"></p>
</div>
<div class="about">
    <p style="text-align: center;" jhiTranslate="about.bodytext2"></p>
</div>
<div class="about">
    <p style="text-align: center;" jhiTranslate="about.bodytext3"></p>
</div>
<div class="about">
    <p style="text-align: center;" jhiTranslate="about.bodytext4"></p>
</div>
<div class="about">
    <p style="text-align: center;" jhiTranslate="about.bodytext5"></p>
</div>
<div class="about">
    <p style="text-align: center;" jhiTranslate="about.bodytext6"></p>
</div>
<div class="about">
    <p style="text-align: center;" jhiTranslate="about.bodytext7"></p>
</div>
<div class="about">
    <p style="text-align: center;" jhiTranslate="about.bodytext8"></p>
</div>